@font-face {
  font-family: "Avenir Next";
  src: url("./Avenir_next/AvenirNext-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./Avenir_next/AvenirNext-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./Avenir_next/AvenirNext-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

// @media (min-width: $breakpoint-tablet) {}
// @media (min-width: $breakpoint-desktop) {}
